* {
  box-sizing: border-box;
}

section,
header,
.container {
  @extend %clearfix;
}

header {
  padding: 15px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

// Prevent Flash of Unstyled Content (via) http://johnpolacek.com/2012/10/03/help-prevent-fouc/
.no-fouc {
  display: none;
}

// vertical centering in 3 lines (via) http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
.center-vert {
    @include breakpoint($bp-small) {
      position: relative;
      top: 50%;
      transform: translateY(-70%);
    }
}

// responsive word break (via) http://danielmall.com/articles/responsive-line-breaks/
.r-wbr {
  display: inline;
  @include breakpoint($bp-small) {
    display: block;
  }
}


