* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;

  .page-wrapper {
    margin: 0;
    padding: 30px;
    border: 40px solid $c-white;
    background: url(../../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  #logo {
    // width: 15%;
    width: 200px;
  }

  #hero {
    color: $c-white;
    text-align: center;

    // vertical centering in 3 lines (via) http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
    position: relative;
    top: 50%;
    transform: translateY(-70%);

    h1 {
      @include fontsize(100);
      font-weight: 700;
    }
  }

  // .modal-trigger {
  .md-trigger {
    background: $c-red;
    padding: 1em 2em;
    display: inline-block;
    width: 25%;
    font-weight: 600;
    // text-decoration: underline;
    em { //this is to get the underline for the text but not the period, I like overwritting the default emphasis over nesting two spans
      border-bottom: 1px solid $c-white;
      font-style: normal;
    }
  }
}





.wrap-container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}