* {
  box-sizing: border-box;
}

body {
  .page-wrapper {
    margin: 0;
    padding: 15px;
    border: 20px solid $c-white;
    background: url(../../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  #hero {
    color: $c-grey;
  }


}
