* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;

  .logo {
    width: 200px;
    margin: 15px;
  }

  .page-wrapper {
    margin: 0;
    padding: 15px;
    border: 40px solid $c-white;
    background: url(../../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  #hero {
    color: $c-white;
    text-align: center;

    // vertical centering in 3 lines (via) http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
    position: relative;
    top: 50%;
    transform: translateY(-70%);

    h1 {
      @include fontsize(100);
      font-weight: 700;
    }
  }


}





.wrap-container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}