// .modal-trigger {
.md-trigger {
  background: $c-red;
  padding: 1em 2%;
  display: inline-block;
  // width: 25%;
  width: 31.25%;
  font-weight: 600;
  cursor: pointer;
  u {
    border-bottom: 2px solid $c-white;
    text-decoration: none;
  }

}



.md-modal {
  // height: 100%;
  // width: 100%;
  max-width: none;
  .md-content {
    height: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 0;
    background: $c-red;

    .content-header {
      @include clearfix;
      padding: 0;

      .logo {
        float: left;
        // margin-left: 0;
      }
      .md-close {
        float: right;
        @include fontsize(50);
        color: $c-black;
        text-shadow: none;
        background: none;
        padding: 0;
        &:hover {
          color: $c-white;
        }
      }
    }

    .content-wrapper {
      margin: 0 auto;
      width: 80%;
      color: $c-black;

      @include breakpoint($bp-small) {
        width: 50%;
      }
      h3 {
        @include fontsize(34);
        font-weight: 700;
        color: $c-white;
        background: none;
        opacity: 1;

      }
    }

   }
}

.md-show ~ .md-overlay {
  opacity: 0;
  visibility: hidden;
}

form {
  display: inline-block;
  width: 100%;

  label[placeholder="Enter your Email"] {
    display: none;
  }
  div[data-reactid=".0.1:$0"] {
    display: inline-block;
  }

  div[data-reactid=".0.1:$0"]{
    width: 70%;
    padding-right: 10px;

  }
  div[data-reactid=".0.1:$0.$email.$email"] {
    width: 100%;
  }
  ul {
    float: left;
    // clear: both;
    // display: inline-block;
  }


  #email-1f81b7fb-d2ce-4530-a1b6-848bae1a2053 {
    width: 100%;
    border: none;
    background: $c-red;
    border-bottom: 2px solid $c-white;
    color: $c-white;
    font: inherit;
    font-size: 1rem;
    line-height: initial;
    margin-top: 2px;
  }

  .hs_submit {
    display: inline-block;
    width: 30%;
    input[type="submit"] {
      width: 100%;
      border: none;
      border-radius: 0;
      // height: 40px;
      // bottom: 4px;
      position: relative;
      color: $c-red;
      background: $c-white;
      font: inherit;
    }
  }

  ::-webkit-input-placeholder {
     color: $c-white;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $c-white;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $c-white;
  }

  :-ms-input-placeholder {
     color: $c-white;
  }

}

.submitted-message {
    color: $c-white;
  }