/* new component naming convention!! how the s-prefix means section */


// .logo {
//   width: 80px;
//   margin: 0 auto;

//   @include breakpoint($bp-small) {
//     width: 200px;
//     margin: 15px;
//   }
// }


.logo {
    width: 200px;
    padding: 15px;
}

section.landing {
  margin: 0;
  padding: 15px;
  border: 40px solid $c-white;
  background: url(../../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  @extend %clearfix;


  .container {
    color: $c-white;
    text-align: center;

    h2 {
      @include fontsize(65);
      font-weight: 700;
      margin-top: 0;
      text-shadow: 1px 1px $c-red,
                   1.5px 1.5px $c-red,
                   2px 2px $c-red,
                   2.5px 2.5px $c-red,
                   3px 3px $c-red,
                   3.5px 3.5px $c-red,
                   4px 4px $c-red;
    }
  }
}







