/* new component naming convention!! how the s-prefix means section */

.logo {
    width: 200px;
    padding: 15px;
}

section.landing {
  margin: 0;
  // padding: 15px;
  border: 40px solid $c-white;
  background: url(../../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  @extend %clearfix;


  .container {
    text-align: center;

    h2 {
      @include fontsize(60); //
      font-weight: 700;
      margin: 0 0 1rem 0;
      text-shadow: 1px 1px $c-red,
                   1.5px 1.5px $c-red,
                   2px 2px $c-red,
                   2.5px 2.5px $c-red,
                   3px 3px $c-red,
                   3.5px 3.5px $c-red,
                   4px 4px $c-red;
    }
  }

  .md-trigger {
    @include fontsize(30);
    font-weight: 600;
    width: 80%;
    display: inline-block;
    padding: 2rem .5rem;
    background: $c-red;
    cursor: pointer;

    @include breakpoint($bp-small) {
      width: 31.25%;
      font-size: 1rem;
      padding: 1rem .5rem;
    } // .md-trigger 768px

    .underline {
      border-bottom: 2px solid $c-white;
    } // .underline
  } // .md-trigger
} // section.landing







