/* new component naming convention!! how the s-prefix means section */

section.landing {
  border: 40px solid $c-white;
  margin: 0;
  background: url(../../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;

  h2 {
    @include fontsize(32);
    font-weight: 700;
    margin: 0 0 1rem 0;
    text-shadow: 1px 1px $c-red,
                 1.5px 1.5px $c-red,
                 2px 2px $c-red,
                 2.5px 2.5px $c-red,
                 3px 3px $c-red,
                 3.5px 3.5px $c-red,
                 4px 4px $c-red;

    @include breakpoint($bp-petite) {
      @include fontsize(50);
    }

    @include breakpoint($bp-tiny) {
      @include fontsize(54);
    }

    @include breakpoint($bp-small) {
      @include fontsize(60); //yo
    }
  }

  button.action {
    // @include fontsize(30);
    @include fontsize(13);
    font-weight: 600;
    width: 60%;
    border: none;
    border-radius: 0;
    display: inline-block;
    padding: 1rem .5rem;
    background: $c-red;
    text-shadow: none;

    @include breakpoint($bp-petite) {
      @include fontsize(18);
      padding: 1.75rem .5rem;
    }

    @include breakpoint($bp-tiny) {
      @include fontsize(20); // 1.5rem
      padding: 1.5rem .5rem;
      width: 50%;
    } // .button.action 500px

    @include breakpoint($bp-small) {
      @include fontsize(24); // 2rem
      width: 50%;
    } // .button.action 768px

    @include breakpoint($bp-large) {
      width: 25%;
      min-width: 480px;
    } // .button.action 1280

    .underline {
      border-bottom: 2px solid $c-white;
    } // .underline
  } // .md-trigger
} // section.landing







