/*
 * .md-trigger is in the Landing Section of the page
 */

 section.modal {

  .md-content {
    height: 100%;
    width: 100%;
    padding-bottom: 15px;
    background: $c-red;

    .logo {
      @include breakpoint($bp-petite) {
        float: left;
      }
    }

    .md-close {
      float: right;
      color: $c-black;
      border: none;
      text-shadow: none;
      background: none;
      line-height: 1;
      padding: 15px 5px 0 0;
      position: relative;
      font-size: 30px;

      @include breakpoint($bp-petite) {
        right: 7px;
        bottom: 5px;
      }

      @include breakpoint($bp-small) {
        font-size: 50px;
        padding-top: 5px;
        right: 4px;
        bottom: 0;

      }

    }


    // .content-wrapper {
    .container {
      color: $c-black;
      @include fontsize(12);

      @include breakpoint($bp-petite) {
        @include fontsize(16);
      }

      @include breakpoint($bp-small) {
        width: 50%;
        @include fontsize(20);
      }

      h3 {
        @include fontsize(24);
        font-weight: 700;
        color: $c-white;
        background: none;
        opacity: 1;

        @include breakpoint($bp-petite) {
          @include fontsize(34);
        }

        @include breakpoint($bp-small) {
          @include fontsize(48);
        }
      }
    }
  } //.md-content
}
