/*
 * .md-trigger is in the Landing Section of the page, so I put the styles in the
 *  corresponding SCSS partial
 */

 section.modal {

  header {
    padding-bottom: 0;
  }

  .md-content {
    height: 100%;
    width: 100%;
    padding-bottom: 15px;
    background: $c-red;

    .logo {
      float: left;
    }

    .md-close {
      float: right;
      color: $c-black;
      border: none;
      text-shadow: none;
      background: none;
      line-height: 1;
      padding: 15px 5px 0 0;
      position: relative;
      right: 7px;
      bottom: 5px;
      font-size: 30px;

      @include breakpoint($bp-small) {
        font-size: 50px;
        padding-top: 5px;
        right: 4px;
        bottom: 0;

      }

    }


    // .content-wrapper {
    .container {
      // width: 80%;
      // margin: 0 auto;
      color: $c-black;

      @include breakpoint($bp-med) {
        width: 50%;
      }

      h3 {
        @include fontsize(34);
        font-weight: 700;
        color: $c-white;
        background: none;
        opacity: 1;
      }
    }
  } //.md-content
}
