/*
 * .md-trigger is in the Landing Section of the page, so I put the styles in the
 *  corresponding SCSS partial
 */

 section.modal {

  .md-content {
    height: 100%;
    width: 100%;
    padding-bottom: 15px;
    background: $c-red;

    .logo {
      float: left;
    }

    .md-close {
      float: right;
      @include fontsize(50);
      color: $c-black;
      text-shadow: none;
      background: none;
      padding: 0;
      border: none;
      line-height: 1;

      padding-top: 5px;
      padding-right: 5px;

      cursor: pointer;
    }


    // .content-wrapper {
    .container {
      // width: 80%;
      // margin: 0 auto;
      color: $c-black;

      @include breakpoint($bp-med) {
        width: 50%;
      }

      h3 {
        @include fontsize(34);
        font-weight: 700;
        color: $c-white;
        background: none;
        opacity: 1;
      }
    }
  } //.md-content
}
